version=0.26.2
profile=conventional
# https://github.com/ocaml-ppx/ocamlformat/blob/main/lib/Conf.ml

margin=70

module-item-spacing=preserve

exp-grouping=preserve

parens-ite=true
if-then-else=k-r

indicate-multiline-delimiters=closing-on-separate-line

break-cases=all
single-case=sparse
cases-matching-exp-indent=compact
disambiguate-non-breaking-match=true

break-string-literals=never

dock-collection-brackets=true

break-infix=fit-or-vertical
break-infix-before-func=true

wrap-fun-args=false
break-fun-sig=fit-or-vertical
break-fun-decl=fit-or-vertical

let-and=compact
let-binding-spacing=compact
indent-after-in=2

type-decl=sparse
type-decl-indent=3

infix-precedence=parens

space-around-lists=true

sequence-style=separator
sequence-blank-line=preserve-one

assignment-operator=begin-line

doc-comments=before
wrap-comments=false